/* ================================================
   TABLE OF CONTENTS
   ------------------------------------------------
    General
    Preloader
    Navigation Bar
    Header
    Footer
   ================================================  */

/*----------------------------------------------------------------
    General
----------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

body {
  height: 100%;
  /*overflow-x: hidden;*/
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
@font-face {
  font-family: "Crunchy";
  src: url('Hickory Jack.ttf');
}
.special-font {
  font-family: "Crunchy";
  font-size: xx-large;
}
.text-muted {
  color: #777777;
}
p {
  font-size: 18px;
  line-height: 1.75;
}
p.large {
  font-size: 20px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #5CCBD5;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #5CCBD5;
}
a i{
  color: #fff;
}
.img-centered {
  margin: 0 auto;
}
.bg-white {
  background-color: #F7F7F7;
}
.bg-darkest-gray {
  background-color: #3D4446;
  color: #fff;
}
.bg-gray {
  background-color: #6D797D;
  color: #fff;
}
.bg-light-blue {
  background-color: #CFE9EE;
}
.bg-light-gray {
  background-color: #E3E8E9;
}
.btn-white {
  color: #fff;
  background-color: transparent;
  border-color: #5CCBD5;
  border-width: 2px;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 18px;
  padding: 10px 30px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  color: #3D4446;
  background-color: #5CCBD5;
  border-color: #5CCBD5;
}
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  background-image: none;
}
.btn-dark {
  color: #fff;
  background-color: #3D4446;
  border-color: #3D4446;
  border-width: 2px;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 15px;
  padding: 5px 15px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #727272;
  border-color: #727272;
}
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none;
}
.tooltip .tooltip-inner {
  padding: 10px 15px;
  font-size: 12px;
}

/* ======= Waypoints ======= */

.wp1,
.wp2,
.wp3,
.wp3-1,
.wp4,
.wp4-1,
.wp5,
.wp6,
.wp6-1 {
    visibility: hidden;
}
.bounceIn,
.bounceInUp,
.bounceInLeft,
.bounceInRight,
.bounceInDown,
.fadeIn,
.fadeInUp,
.fadeInUpDelay,
.fadeInDown,
.fadeInLeft,
.fadeInRight,
.slideInUp,
.slideInDown,
.slideInLeft,
.slideInRight,
.zoomIn,
.swing,
.pulse,
.bounce {
    visibility: visible;
}
.delay-01s {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}
.delay-025s {
    animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
}
.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
.delay-075s {
    animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
}
.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.delay-1-5s {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
.delay-2s {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.delay-2-5s {
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
.delay-3s {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

/*----------------------------------------------------------------
    Preloader
----------------------------------------------------------------*/

.eye{
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 50%;
    box-shadow: 50px 0px 0px 0px rgba(255,255,255,0.8);
    position: relative;
}

.eye:after{
    background-color: #3D4446;
    width: 15px;
    height: 15px;
    box-shadow: 50px 0px 0px 0px #3D4446;
    border-radius: 50%;
    left: 9px;
    top: 15px;
    position: absolute;
    content: "";
    -webkit-animation: eyeball 1.5s linear infinite alternate;
       -moz-animation: eyeball 1.5s linear infinite alternate;
            animation: eyeball 1.5s linear infinite alternate;
}
@-webkit-keyframes eyeball{
    0%{left: 20px;}
    100%{left: 1px;}
}
@-moz-keyframes eyeball{
    0%{left: 20px;}
    100%{left: 1px;}
}
@keyframes eyeball{
    0%{left: 20px;}
    100%{left: 1px;}
}

.preloader-page {
    width: 100%;
    height: 100%;
    background-color: #3D4446;
    z-index: 99999;
    position: fixed;
}

.preloader-object {
    margin-left: 50%;
    margin-top: 25%;
}

/*----------------------------------------------------------------
    Navigation Bar
----------------------------------------------------------------*/

.navbar-custom {
  background-color: transparent;
  padding: 25px 0;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  transition: padding 0.3s;
  border: none;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: transparent;
  border-color: #ffffff;
  color: #fff;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: #fff;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #ffffff;
  background-color: #5CCBD5;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom.affix .navbar-nav > .active > a {
  color: #ffffff;
  background-color: #5CCBD5;
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #3D4446;
    opacity: 0.9;
    padding: 6px 0;
  }
  .navbar-custom.affix .navbar-nav {
    font-size: 14px;
  }
  .navbar-custom .navbar-nav {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
  }
  .navbar-custom .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-custom .navbar-nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: #cccccc;
    background-color: transparent;

  }
  .navbar-custom .navbar-nav > .active > a {
    background-color: transparent;
  }
  .navbar-custom .navbar-nav > .active > a:hover,
  .navbar-custom .navbar-nav > .active > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
  .navbar-custom.affix .navbar-nav > .active > a {
    border-bottom: solid 3px #5CCBD5;
    background-color: transparent;
  }
}
@media(max-width:768px) {
    div.navbar-collapse.collapse.in,
    div.navbar-collapse.collapsing {
      width: 200px;
      max-height: 100%;
      float: right;
      text-align: center;
      background-color: #3D4446;
      box-shadow: none;
    }
    .navbar {
      padding: 1.5vh 0;
      background-color: transparent;
      opacity: 0.9;
      width: 100%;
      height: 9vh;
      border-bottom: none;
    }
    .navbar-custom.affix {
      background-color: #3D4446;
      opacity: 0.93;
      padding: 6px 0;
    }
}


/*----------------------------------------------------------------
    Header
----------------------------------------------------------------*/

header {
  background-image: url('../img/headerbackground1.jpg');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 25%;
  padding-bottom: 50px;
}
header .intro-text {
  vertical-align: middle;
  padding-bottom: 100px;
}
header .intro-text h1 {
  font-weight: 300;
  font-size: 55px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}
header .intro-text h2 {
  text-transform: none;
  font-weight: 300;
  font-size: 25px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header {
    padding-top: 6%;
  }
  header .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  header .intro-text h1 {
    font-size: 75px;
    line-height: 60px;
    padding-bottom: 25px;
  }
  header .intro-text h2 {
    font-size: 35px;
    line-height: 40px;
  }
}

/*----------------------------------------------------------------
    Section
----------------------------------------------------------------*/

section {
  padding: 80px 25px;
}
section .section-heading {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}
section .section-heading-light {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}
section .section-subheading {
  font-size: 25px;
  text-transform: none;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 25px;
}

/*----------------------------------------------------------------
    About
----------------------------------------------------------------*/
.about {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  /*padding: 0;*/
}

.about-main {
  padding: 100px 50px;
}

.about-section {
  padding: 100px 50px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section-hello {
  font-size: 40px;
  margin-bottom: 20px;
}

.about-section-heading {
  font-size: 30px;
  margin-bottom: 15px;
  /*color: #5CCBD5;*/
}

.about-eat {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
  /*color: #5CCBD5;*/
}

/*----------------------------------------------------------------
    Resume
----------------------------------------------------------------*/

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #fff;
}
.resume .resume-heading {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
}

/*----------------------------------------------------------------
    Portfolio
----------------------------------------------------------------*/

#portfolio .portfolio-grid {
  margin-top: 20px;
}
#portfolio .portfolio-item {
  margin: 0 0 10px;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(34, 34, 34, 0.85);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 45%;
  margin-top: -12px;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3 {
  margin: 0;
  color: #5CCBD5;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content p {
  color: #bbbbbb;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 20px;
  }
}

/*----------------------------------------------------------------
    Portfolio Modal
----------------------------------------------------------------*/

.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 60px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 10px 5px 30px;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #3D4446;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #3D4446;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #2BBFD2;
}
::selection {
  text-shadow: none;
  background: #2BBFD2;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #2BBFD2;
}
#portfoliomodal1 .col-lg-2 {
  padding: 0;
}

/*----------------------------------------------------------------
    Contact
----------------------------------------------------------------*/

.contact {
  background-image: url('../img/biathlon2.png');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #ffffff;
}

.contact .shoot a {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.contact a i {
  color: #ffffff;
  font-size: 50px;
  margin-top: 20px;
}

/*----------------------------------------------------------------
    Footer
----------------------------------------------------------------*/

footer {
  padding: 20px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
}
.footer2 {
  padding: 5px 0;
}
.footer2 i {
  color: #5CCBD5;
}
ul.social-buttons {
  margin: 5px 15px 15px 10px;
}
ul.social-buttons li a {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  font-size: 30px;
  line-height: 49px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons i {
  color: #fff;
}

ul.social-buttons li.twitter a:hover,
ul.social-buttons li.twitter a:focus {
  background-color: #81D4FD;
}
ul.social-buttons li.file a:hover,
ul.social-buttons li.file a:focus {
  background-color: #FE6E6E;
  cursor: pointer;
}
ul.social-buttons li.facebook a:hover,
ul.social-buttons li.facebook a:focus {
  background-color: #5387BE;
}
ul.social-buttons li.instagram a:hover,
ul.social-buttons li.instagram a:focus {
  background-color: #AF6ABC;
}
ul.social-buttons li.linkedin a:hover,
ul.social-buttons li.linkedin a:focus {
  background-color: #72AEE7;
}
ul.social-buttons li.github a:hover,
ul.social-buttons li.github a:focus {
  background-color: #979797;
}